@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
 --black: #171717;
 --black-light: #3c3c43;
 --white: #FFFFFF;
 --blue: #4584E4;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
* {
 font-family: 'Inter', sans-serif !important;
 margin: 0;
 padding: 0;
 box-sizing: border-box !important;
}

:root {
 scroll-behavior: smooth;
}

.bg-black {
 color: #171717;
 background: #171717;
}

body {
 font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
 font-family: "Inter", sans-serif;
}

.carousel-item {
 position: relative;
 display: none;
 float: left;
 width: 0;
 margin-right: -100%;
 -webkit-backface-visibility: hidden;
 backface-visibility: hidden;
 transition: transform .6s ease-in-out;
}

.img_logo {
 width: 80px;
}

.car {
 color: white;
 font-size: 22px;
}

/*--------------------------------------------------------------
# background - img Section
--------------------------------------------------------------*/

.hero {
 width: 100%;
}

.img {
 width: 100%;
 position: absolute;
 z-index: -1;
}

.img1 {
 width: 50%;
 position: absolute;
 z-index: -1;
 margin-left: 34.5rem;
}

@media (max-width: 1280px) {
 .img1 {
  width: 69.1%;
  position: absolute;
  z-index: -1;
  margin-left: 1rem;
 }
}

@media (max-width: 1024px) {
 .img1 {
  width: 62.1%;
  position: absolute;
  z-index: -1;
  /* margin-left: 1rem; */
 }
}

.img2 {
 width: 27%;
 position: absolute;
 z-index: 3;
 margin-left: 50rem;
}

@media (max-width: 1280px) {
 .img2 {
  width: 35%;
  margin-left: 20rem;
 }
}

@media (max-width: 1024px) {
 .img2 {
  width: 40%;
  margin-left: 5rem;
 }
}

.imagem {
 z-index: -1;
 position: absolute;
}

/*--------------------------------------------------------------
# Nav link 
--------------------------------------------------------------*/
.nav-link:hover {
 color: #ffffff !important;
 transform: scale(1.05);
}

.card {
 transition: .8s;
}

.card:hover {
 transform: scale(1.05);
}